@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

:root {
    --background-color: #E7F6F2;
    --primary-color: #2C3333;
    --secondary-color: #395B64;
    --font: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--primary-color);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--background-color);
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
}

span {
    color: var(--secondary-color);
    font-weight: bold;
}

.grafico {
    margin-top: 4rem;
}

.graficos-container {
    margin: 5rem;
}

.graficos-container__texto {
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--primary-color) solid 2px;
}

.linha {
    width: 90%;
    margin: 2rem auto;
    border: 2px solid var(--primary-color);

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}